bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Anime Archive Handler GUI/Anime Archive Handler GUI.Desktop/External Dependencies/ffmpeg.exe
Anime Archive Handler GUI/Anime Archive Handler GUI.Desktop/External Dependencies/ffprobe.exe
